:root{
    --cor1: #0E2139;
    --cor2: white;
    --cor3: #f6da29;
    --cor4: #24FF00;
    --cor5: #db531a;
    --cor6: black;
    --cor7: #FA0000;
    --cor8: #f84444;
    --pA: 1.618;
    --pAd2: calc(var(--pA) / 2);
    --wid100: 100%;
    --espaco: 17px;
    --espacoNeg: -25px;
    --maiorTexto: 26px;
    --medioTexto: calc(var(--maiorTexto) * var(--pAd2));
    --paragrafo: 17px;
    --elePos: 0 calc(-69px / var(--pA));
    --bordas: 100%;
    --vetor: 100px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url('../img/bg/noise-dust.jpg');
}

/*Animação de cima para baixo*/
@keyframes cimaParaBaixo {
    0%{
        position: relative;
        top: -200px;
    }

    100%{
        position: relative;
        top: 0;
    }
}

/*Cabeçalho*/
header{
    width: var(--wid100);
    transition: 2s;
    animation: cimaParaBaixo 1s;
}

/*Bloco da Promessa*/
.bloco-promessa{
    padding: var(--espaco) 0;
    text-align: center;
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

/*Promessa do produto*/
.promessa{
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--maiorTexto);
    color:var(--cor2);
}

/*Animação texto destacado*/
@keyframes destaque{
    0%{
        background-color: var(--cor3);
        transition: 3.2s;
    }

    50%{
        background-color: var(--cor5);
        transition: 3.2s;
    }

    100%{
        background-color: var(--cor3);
        transition: 3.2s;
    }
}

/*Texto destacado da Promessa*/
.promessa b{
    color: var(--cor1);
    animation: destaque 3.2s infinite;
}

/*Formas geométricas divisoras de seções da página*/
.elemento-ilustrativo-01{
    width: var(--wid100);
    height: var(--espaco);
    border-bottom-left-radius: var(--bordas);
    border-bottom-right-radius: var(--bordas);
    background-color: var(--cor1);
}

/*Demonstração do ebook + CTA*/
.ebook-copy-para-boletos{
    padding: var(--espaco) 0;
    width: var(--wid100);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/*Animação da esquerda para direita*/
@keyframes esqParaDireita {
    0%{
        position: relative;
        opacity: 0;
        left:-200px;
    }

    100%{
        position: relative;
        opacity: 1;
        left:0;
    }
}

/*Bloco do ebook principal*/
.bloco-ebook{
    width: var(--wid100);
    height:auto;
    padding: var(--espaco) 0;
    transition: 0.2s;
    animation: esqParaDireita 2.5s;
}

/*Imagem do ebook principal*/
.mockup-ebook{
    width: calc(var(--wid100) / var(--pA) / var(--pA));
    height: auto;   
}

/*Animação do botão de compra*/
@keyframes botao-crescente {
    
    0%{
        scale: var(--wid100);
        transition: 1s;
    }

    50%{
        scale: calc(var(--wid100)* var(--pAd2));
        transition: 1s;
    }

    0%{
        scale: var(--wid100);
        transition: 1s;
    }
}

/*Bloco de botão de compra*/
.bloco-botao-comprar{
    transition: 1s;
}

/*Botão de compra com mouse em cima*/
.botao-comprar:hover{
    animation: botao-crescente 5.5s infinite;
}

/*Botão de compra da página*/
.botao-comprar{
    cursor: pointer;
    width: calc(var(--wid100) / var(--pA) / var(--pA));
    margin: var(--espaco) 0;
    padding: var(--espaco) 0;
    border:none;
    color: var(--cor2);
    background-color: var(--cor5);
    font-size: var(--medioTexto);
    font-weight: bold;
    border-radius: var(--espaco);
}

/*Bloco de Aviso da promessa*/
.bloco-aviso-promessa{
    width: var(--wid100);
    height:auto;
    padding: var(--espaco) 0;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    justify-content: center;
}

/*Aviso da promessa*/
.aviso-promessa{
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--maiorTexto);
    color:var(--cor1);
}

.bloco-setas{
    margin: calc(var(--espaco) * var(--pA) * var(--pA));
    display: flex;
    text-align: center;
    justify-content: center;
}

/*Animação opacidade de cima para baixo*/
@keyframes opa-cima-baixo {
    0%{
        position: relative;
        opacity: 0;
        fill-opacity: initial;
        top: 0;
        transition: 1s;
    }

    50%{
        position: relative;
        top: calc(30px * var(--pA));
        transition: 1s;
        opacity: 1;
        fill-opacity: inherit;
    }

    100%{
        position: relative;
        opacity: 0;
        fill-opacity: initial;
        top: 0;
        transition: 1s;
    }
}

/*Setas*/
.setas{
    width: var(--vetor);
    animation: opa-cima-baixo 4.5s infinite;
}

/*Área de objeções*/
.area-objecoes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Triângulo de borda*/
.triangulo{
    width: 100%;
    height: auto;
    margin-top: var(--espacoNeg);
    margin-bottom: -1px;
}

/*Conteúdo de objeções*/
.bloco-objecoes{
    padding-top: calc(var(--espaco) * var(--pAd2));
    padding-bottom: calc(var(--espaco) * var(--pAd2) + 86px);
    background: var(--cor2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Título da Área de Objeções*/
.objecoes-pergunta{
    padding:var(--espaco);
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--maiorTexto);
    color:var(--cor1);
    text-align: center;
}

/*Fonte leve no texto do título*/
.objecoes-pergunta-lighter{
    font-weight:lighter;
}

/*Parágrafo contendo cada objeção*/
.objecao{
    padding: var(--espaco);
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--paragrafo);
    color:var(--cor1);
}

/*Pergunta destacada pela própria Alanis*/
.pergunta-destacada{
    background-color: var(--cor1);
    color:var(--cor3);
}

/*Objeto rasgado separador*/
.papel-rasgado{
    width: 100%;
    height: auto;
    margin-top: var(--espacoNeg);
    margin-top:-84px;
    margin-bottom: -5px;
}

/*Área de Soluções*/
.area-solucao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*Conteúdo de soluções*/
.bloco-solucoes{
    padding: calc(var(--espaco) * var(--pAd2));
    background: var(--cor6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Título da Área de soluções*/
.solucao-titulo{
    padding:var(--espaco);
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--maiorTexto);
    color:var(--cor2);
    text-align: center;
}

/*Fonte verde no Título*/
.solucao-verde{
    color:var(--cor4);
}

/*Alerta vermelho*/
@keyframes alerta-verm {
    0%, 100%{
        opacity: 0.25;
        color:var(--cor8);
        transition: 0.75s;
    }

    15%{
        opacity:1;
        color:var(--cor7);
        transition: 0.75s;
    }
}

/*Fonte vermelha no Título*/
.solucao-vermelha{
    color:var(--cor7);
    animation: alerta-verm 1.5s infinite;
}

/*Parágrafo contendo cada Solucão*/
.solucao{
    padding: var(--espaco);
    width: calc(var(--wid100) / var(--pA));
    font-size: var(--paragrafo);
    color:var(--cor2);
}

/*Fundo vermelho piscante*/
@keyframes bg-piscante {
    0%, 100%{
        color:var(--cor2);
        opacity: 0.25;
        background-color:var(--cor8);
        transition: 0.75s;
    }

    15%{
        color:var(--cor2);
        opacity: 1;
        background-color:var(--cor7);
        transition: 0.75s;
    }
}

/*Pergunta destacada pela própria Alanis*/
.pergunta-solucao{
    background-color: var(--cor7);
    font-size: var(--maiorTexto);
    animation: bg-piscante 1.5s infinite;
}

.boletos-expirados-desktop{
    width: calc(var(--wid100) / var(--pA));
    margin: var(--espaco) 0;   
}

.solucao-vermelha-paragrafo{
    font-size: var(--maiorTexto);
    animation: alerta-verm 1.5s infinite;
}


